.author_info {
  display: flex;
  align-items: center;
  gap: 24px;
  font-size: 26px;
  font-weight: 200;
}

.author_info img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.recipe-hero img {
  height: 220px;
  width: 100%;
  object-fit: cover;
  border-radius: 16px;
}

#servingsInput::-webkit-inner-spin-button,
#servingsInput::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#servingsInput {
  -moz-appearance: textfield;
  appearance: textfield;
}

.recipe-ingredients {
  margin-top: 40px;
  font-size: 20px;
}

.recipe-servings {
  display: flex;
  align-items: center;
  gap: 16px;
}

.recipe-servings_input {
  display: flex;
  height: 40px;
  border: 1px solid #dcdcdc;
  overflow: hidden;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.recipe-servings_input input {
  border: none;
  padding-left: 12px;
  font-size: 20px;
  font-weight: 200;
  outline: none;
  width: 140px;
}

.ingredients_table table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 20px;
  font-weight: 200;
}

.ingredients_table td {
  padding: 12px;
  vertical-align: middle;
  padding-left: 25px;
}

.ingredients_table td.amount {
  text-align: right;
  white-space: nowrap;
  font-weight: 400;
  width: 83px;
}

.ingredients_table tr td:first-child {
  border-radius: 8px 0 0 8px;
}

.ingredients_table tr td:last-child {
  border-radius: 0 8px 8px 0;
}

.ingredients_table tr:nth-child(odd) td {
  background-color: #f2f2f2;
}

.ingredients_table tr:nth-child(even) td {
  background-color: #ffffff;
}

.recipe-steps {
  margin-top: 80px;
  margin-bottom: 80px;
}

.recipe-steps h2 {
  margin-bottom: 0;
}

.recipe-steps_list {
  list-style: none;
  padding: 0;
  font-size: 18px;
  font-weight: 200;
}

.recipe-meta {
  display: flex;
  gap: 24px;
  margin-top: 16px;
  margin-bottom: 48px;
}

.recipe-meta_item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px 14px;
  background-color: #f2f2f2;
  border-radius: 8px;
  font-size: 18px;
}

.recipe-meta_item img {
  width: 18px;
  height: 18px;
  object-fit: contain;
  display: block;
}

@media (max-width: 500px) {
  .recipe-meta {
    flex-direction: column;
    gap: 12px;
  }

  .recipe-meta_item {
    gap: 8px;
    padding: 6px 14px;
    font-size: 16px;
    width: 110px;
  }

  .recipe-meta_item img {
    width: 16px;
    height: 16px;
  }

  .recipe-ingredients {
    font-size: 16px;
  }

  .recipe-servings {
    gap: 8px;
  }

  .portion_box input {
    width: 60px;
  }
}