
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('raleway-v37-latin-100.woff2') format('woff2');
}


@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url('raleway-v37-latin-100italic.woff2') format('woff2');
}


@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('raleway-v37-latin-200.woff2') format('woff2');
}


@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url('raleway-v37-latin-200italic.woff2') format('woff2');
}


@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('raleway-v37-latin-300.woff2') format('woff2');
}


@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url('raleway-v37-latin-300italic.woff2') format('woff2');
}


@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('raleway-v37-latin-regular.woff2') format('woff2');
}


@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('raleway-v37-latin-italic.woff2') format('woff2');
}


@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('raleway-v37-latin-500.woff2') format('woff2');
}


@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url('raleway-v37-latin-500italic.woff2') format('woff2');
}


@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('raleway-v37-latin-600.woff2') format('woff2');
}


@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url('raleway-v37-latin-600italic.woff2') format('woff2');
}


@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('raleway-v37-latin-700.woff2') format('woff2');
}


@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('raleway-v37-latin-700italic.woff2') format('woff2');
}