<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Impressum</title>
    <link rel="stylesheet" href="../style.css" />
   


  <!-- FONTS EINBINDEN -->


    <link rel="icon" type="image/png" href="../img/favicon.png" sizes="32x32" />

    <script src="https://www.w3schools.com/lib/w3.js"></script>
    <script src="../dom.js"></script>
  </head>

  <body>
    <div class="layout">
      <header class="site-header">
        <div w3-include-html="../templates/header.html"></div>
      </header>

      <main class="page">
        



        
      </main>

      <footer class="site-footer">
        <div w3-include-html="../templates/footer.html"></div>
      </footer>
    </div>
    <script>
      w3.includeHTML(function () {
        initNavigation();
      });
    </script>
  </body>
</html>
